# Исключить системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Исключить директории с настройками редакторов кода
.vscode/
.idea/

# Исключить файлы с приватными данными и переменными окружения
.env
*.env.local