/* Fluid Background Canvas Styles */

.fluid-background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  opacity: 1;
  display: block;
  /* Ensure canvas is visible and has dimensions */
  min-width: 100vw;
  min-height: 100vh;
}

