/* Декоративный разделитель (иконка X) */

.icon-divider {
  width: 14px;
  height: 14px;
  display: block;
  flex-shrink: 0;
  color: var(--color-text-primary);
}

.icon-divider path {
  fill: currentColor;
}
