@media (max-width: 768px) {
  /* Стили для мобильной навигации */
  .header-nav {
    display: none;
  }

  .header-menu-button {
    display: flex;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    color: var(--color-text-primary);
    background-color: transparent;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
  }
  
  .header-menu-button:hover {
    color: var(--color-accent);
  }
}

@media (max-width: 599px) {
  .project-info {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xxs);
  }
}
