@media (max-width: 768px) {
  /* Стили для мобильной навигации */
  .header-nav {
    display: none;
  }

  .header-menu-button {
    display: flex;
    width: 24px; /* Размер иконки */
    height: 24px; /* Размер иконки */
    background-color: #888888; /* Цвет плейсхолдера */
    border: none;
    padding: 0;
    font-size: 0; /* Скрываем текст, если он есть */
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .header-menu-button:hover {
    background-color: var(--color-accent);
  }
}

@media (max-width: 599px) {
  .project-info {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xxs);
  }
}
@media (max-width: 424px) {
  .cta-button {
    font-size: var(--font-size-small);
    padding: var(--spacing-xs) var(--spacing-lg);
  }
  .project-meta {
    font-size: var(--font-size-small);
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .project-meta .meta-square-separator {
    display: none;
  }
  .main-content-name {
    font-size: var(--font-size-h2);
  }
  .main-content-title {
    font-size: var(--font-size-h4);
  }
  .section-title {
    font-size: var(--font-size-h3);
  }
}
@media (max-width: 374px) {
  .footer-left {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr auto;
  }
}
