<div class="footer-content">
  <div class="footer-left">
    <div class="footer-social">
      <a
        href="https://www.linkedin.com/in/silenceremember/"
        class="social-link social-link-linkedin"
        aria-label="LinkedIn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span data-svg-src="/assets/images/icon-linkedin.svg"></span>
      </a>
      <a
        href="https://hh.ru/resume/0efeffadff0c9a053f0039ed1f4d4763506334"
        class="social-link social-link-headhunter"
        aria-label="HeadHunter"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span data-svg-src="/assets/images/icon-headhunter.svg"></span>
      </a>
      <a
        href="https://t.me/silenceremember"
        class="social-link social-link-telegram"
        aria-label="Telegram"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span data-svg-src="/assets/images/icon-telegram.svg"></span>
      </a>
    </div>
    <a href="mailto:slcrmmbr@outlook.com" class="footer-email"
      >slcrmmbr@outlook.com</a
    >
  </div>

  <div class="footer-center">
    <div class="footer-decorative">
      <!-- Квадратики будут созданы через JavaScript -->
    </div>
  </div>

  <div class="footer-right">
    <div class="footer-logo">
      <svg
        class="footer-logo-text"
        width="30"
        height="16"
        viewBox="0 0 44 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 0V24H4.6V8.88889L13.8 24L23 8.88889V0L13.8 15.1111L4.6 0H0Z"
          fill="currentColor"
        />
        <path
          d="M26 24V0H44V4.44435H30.5V9.79017H38.6V14.2222H30.5V19.5556H44V24H26Z"
          fill="currentColor"
        />
      </svg>
      <span
        class="icon-divider"
        data-svg-src="/assets/images/icon-divider-medium.svg"
      ></span>
      <span
        class="footer-logo-icon"
        data-svg-src="/assets/images/logo-icon.svg"
      ></span>
    </div>
    <p class="footer-copyright">©Maxim Elchaninov</p>
  </div>
</div>
