<div class="header-content">
  <div class="header-left">
    <button class="header-language" aria-label="Смена языка">
      <span class="language-icon-ru" data-svg-src="assets/images/icon-language-ru.svg"></span>
      <span class="language-icon-en" data-svg-src="assets/images/icon-language-en.svg"></span>
    </button>
    <span class="icon-divider" data-svg-src="/assets/images/icon-divider-medium.svg"></span>
    <button class="header-theme" aria-label="Смена режима">
      <span class="theme-icon-moon" data-svg-src="assets/images/icon-moon.svg"></span>
      <span class="theme-icon-sun" data-svg-src="assets/images/icon-sun.svg"></span>
    </button>
  </div>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li><a href="index.html" class="header-nav-item">ГЛАВНАЯ</a></li>
      <li><a href="projects.html" class="header-nav-item">ПОРТФОЛИО</a></li>
      <li><a href="research.html" class="header-nav-item">ИССЛЕДОВАНИЯ</a></li>
      <li><a href="cv.html" class="header-nav-item">РЕЗЮМЕ</a></li>
      <li><a href="community.html" class="header-nav-item">СООБЩЕСТВО</a></li>
    </ul>
  </nav>

  <button class="header-menu-button" aria-label="Меню">☰</button>
</div>
