<div class="header-content">
  <div class="header-left">
    <button class="header-language" data-i18n-attr="aria-label:common.aria.languageSwitch" aria-label="Смена языка">
      <span
        class="language-icon-ru"
        data-svg-src="assets/images/icon-language-ru.svg"
      ></span>
      <span
        class="language-icon-en"
        data-svg-src="assets/images/icon-language-en.svg"
      ></span>
    </button>
    <span
      class="icon-divider"
      data-svg-src="/assets/images/icon-divider-medium.svg"
    ></span>
    <button class="header-theme" data-i18n-attr="aria-label:common.aria.themeSwitch" aria-label="Смена режима">
      <span
        class="theme-icon-moon"
        data-svg-src="assets/images/icon-moon.svg"
      ></span>
      <span
        class="theme-icon-sun"
        data-svg-src="assets/images/icon-sun.svg"
      ></span>
    </button>
  </div>

  <nav class="header-nav">
    <ul class="header-nav-list">
      <li><a href="index.html" class="header-nav-item" data-i18n="common.nav.home">ГЛАВНАЯ</a></li>
      <li><a href="projects.html" class="header-nav-item" data-i18n="common.nav.portfolio">ПОРТФОЛИО</a></li>
      <li><a href="research.html" class="header-nav-item" data-i18n="common.nav.research">ИССЛЕДОВАНИЯ</a></li>
      <li><a href="cv.html" class="header-nav-item" data-i18n="common.nav.cv">РЕЗЮМЕ</a></li>
      <li><a href="community.html" class="header-nav-item" data-i18n="common.nav.community">СООБЩЕСТВО</a></li>
    </ul>
  </nav>

  <button class="header-menu-button" data-i18n-attr="aria-label:common.aria.menu" aria-label="Меню">
    <svg
      width="24"
      height="12"
      viewBox="0 0 24 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M23 10C23.5523 10 24 10.4477 24 11C24 11.5523 23.5523 12 23 12H1C0.447715 12 0 11.5523 0 11C0 10.4477 0.447715 10 1 10H23ZM23 0C23.5523 2.57704e-07 24 0.447715 24 1C24 1.55228 23.5523 2 23 2H1C0.447715 2 0 1.55228 0 1C0 0.447715 0.447715 1.61065e-08 1 0H23Z"
        fill="currentColor"
      />
    </svg>
  </button>
</div>
